{% extends "base.html" %}

{% block content %}
  <h1 class="page-header text-center">Secret Santa Signup</h1>
  <form method="post">
  <div class="signup form-signin">
    <h3>Friend Info</h3>
    <input type="text" class="form-control first-input" name="name" placeholder="First Last" required autofocus>
    <input type="text" class="form-control" name="street" placeholder="111 Some Street" required autofocus>
    <input type="text" class="form-control" name="city" placeholder="Somecity" required autofocus>
    <input type="text" class="form-control" name="state" placeholder="NY" required autofocus>
    <input type="text" class="form-control last-input" name="zip" placeholder="100000" required autofocus pattern="\d{5}-?(\d{4})?">
    <hr>
    <button type="submit" class="btn btn-default">Submit</button>
    
    <h3>{{ error_name }}</h3>
  </div>
  <a href="/">Back</a>
  </form>
{% endblock %}




